// general
$g-light: #ffffff;
$g-dark: #222222;
$g-light-red: #ffa3a3;
$g-red: #fc5252;
$g-blue: #381ddb;

// additional
$add-1: #e0e0e0;
$add-2: #db841d;
$add-3: #aa6550;
$add-4: #c00096;
$add-5: #ffcdcd;
$add-6: #ffbe9d;
$add-7: #84c4ff;
