@use 'sass:math';
@use 'modules/boilerplate';
@use 'modules/breakpoints';
@use 'modules/colors' as c;
@use 'modules/fonts';
@use 'modules/functions' as f;

// general styles
// ____________________________
// .aspect-ratio-box {
//   height: 0;
//   overflow: hidden;
//   padding-top: 591.44px / 1127.34px * 100%;
//   background: white;
//   position: relative;
// }
// .aspect-ratio-box-inside {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
// _____________________________
body {
  font-size: 16px;
}
._wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}
.button {
  padding: f.em(18) f.em(34);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    background: c.$g-light;
    color: c.$g-blue;
    outline: 2px solid c.$g-blue;
    & svg path {
      fill: c.$g-blue;
    }
  }
}
.play-button {
  border: 2px solid transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    border-color: c.$g-light;
  }
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center the icon and text */
  justify-content: center; /* Horizontally center the icon and text */
  &__icon {
    margin-right: f.rem(30);
  }
  &__text {
    font-family: Montserrat;
    font-weight: 800;
    font-size: f.rem(20);
    line-height: f.rem(28);
    letter-spacing: 0px;
    //  vertical-align: middle;
    color: c.$g-light;
  }
}
.card {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  &__content {
    margin: f.prc(90, 370) f.prc(120, 370) f.prc(36, 370) f.prc(60, 370);
  }

  &__icon {
    margin-bottom: f.rem(36);
  }
  &__title {
    margin-bottom: f.rem(20);
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0px;
  }
  &__text {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }
}
.sections-heading {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
}
.sections-text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: f.prc(24, 16);
  letter-spacing: 0px;
  opacity: 70%;
}
// ***** end of general *****

// header
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  &__container {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
  }
  &__pages {
    display: flex;
  }
  &__links {
    margin-right: 50px;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: c.$g-light;
  }
  &__buttons {
  }
  &__button {
    height: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: c.$g-blue;
    background-color: c.$g-light;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
.pages {
  min-height: 56px;
  // display: flex;
  // align-items: center;

  &__links {
    display: flex;
    align-items: center;
  }
  &__link {
    //  display: inline-block;
  }
  &__link[data-options='has-options'] {
    position: relative;
    ::after {
      content: '';
      margin-left: 8px;
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      background-image: url(../img/main/header/arrow-down-3.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__link:not(:last-child) {
    margin-right: 40px;
  }
}
a[data-section='header'] {
  color: c.$g-light;
}
// ***** end of header *****

// hero
.hero {
  height: 100vh;
  margin-bottom: f.rem(240);
  position: relative;
  &__bg {
    //  position: relative;
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-position: center;
      object-fit: cover;
    }
  }
  &__content {
    position: relative;
    margin-bottom: f.rem(120);
    padding-top: 225px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 5;
  }
  &__title {
    padding: 0 30px;
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-align: center;
    color: c.$g-light;
    & span {
      color: c.$g-red;
    }
  }
  &__text {
    margin-bottom: f.rem(40);
    padding: 0 30px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 24px;
    line-height: prc(38, 24);
    letter-spacing: 0%;
    text-align: center;
    color: c.$g-light;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: f.rem(40);
  }
  &__button {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: c.$g-light;
    background-color: c.$g-red;
  }
  &__timer {
    position: relative;
    font-family: Montserrat, sans-serif;
    // font-family: sans-serif;
    font-weight: 700;
    font-size: 144px;
    line-height: 100%;
    text-align: center;
    -webkit-text-stroke: 1px c.$g-light;
    -webkit-text-fill-color: transparent;
  }
}
// ***** end of hero *****

// categories
.categories {
  position: relative;
  margin-bottom: 240px;
  &__confetti {
    position: absolute;
    @keyframes ruler-animate {
      0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }

      25% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }

      50% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }

      75% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }

      100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
    }
    @keyframes ball-jump {
      0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
      }
      50% {
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
      }
      100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
      }
    }
    @keyframes shiver {
      0% {
        transform: translateX(0px) translateY(0px);
        -webkit-transform: translateX(0px) translateY(0px);
        -moz-transform: translateX(0px) translateY(0px);
        -ms-transform: translateX(0px) translateY(0px);
        -o-transform: translateX(0px) translateY(0px);
      }
      50% {
        transform: translateX(5px) translateY(-2px);
        -webkit-transform: translateX(5px) translateY(-2px);
        -moz-transform: translateX(5px) translateY(-2px);
        -ms-transform: translateX(5px) translateY(-2px);
        -o-transform: translateX(5px) translateY(-2px);
      }
      100% {
        transform: translateX(0px) translateY(0px);
        -webkit-transform: translateX(0px) translateY(0px);
        -moz-transform: translateX(0px) translateY(0px);
        -ms-transform: translateX(0px) translateY(0px);
        -o-transform: translateX(0px) translateY(0px);
      }
    }

    &[data-color='light-red'] {
      top: 40px;
      left: 78px;
      &:hover {
        animation-name: ruler-animate;
        -webkit-animation: ruler-animate;
        animation-duration: 500ms;
        animation-iteration-count: 2;
        animation-timing-function: linear;
      }
    }
    &[data-color='dark'] {
      top: 105px;
      right: 160px;
      &:hover {
        animation-name: shiver;
        -webkit-animation: shiver;
        animation-duration: 500ms;
        animation-iteration-count: 3;
        animation-timing-function: linear;
      }
    }
    &[data-color='blue'] {
      bottom: 4px;
      right: 53px;
      animation-name: ball-jump;
      animation-duration: 1100ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &[data-color='cyan'] {
      bottom: -89px;
      left: 150px;
      &:hover {
        animation-name: ruler-animate;
        -webkit-animation: ruler-animate;
        animation-duration: 500ms;
        animation-iteration-count: 2;
        animation-timing-function: linear;
      }
    }
  }
  &__heading {
    margin-bottom: f.rem(60);
    color: c.$g-blue;
    & span {
      color: c.$g-dark;
    }
  }
  &__cards {
    margin-left: -25px;
    margin-right: -25px;
    display: flex;
    gap: 30px;
  }
  &__card {
    &[data-title='Pop'] {
      background-color: rgba(219, 132, 29, 0.1);
    }
    &[data-title='Folk'] {
      background-color: rgba(252, 82, 82, 0.1);
    }
    &[data-title='Instrumental'] {
      background-color: rgba(56, 29, 219, 1);
    }
    &[data-title='Rock'] {
      background-color: rgba(192, 0, 150, 0.1);
    }
    &[data-title='Jazz'] {
      background-color: rgba(132, 196, 255, 0.1);
    }
  }
}
// ***** end of categories *****

// about
.about {
  position: relative;
  margin-bottom: 240px;
  min-height: 550px;

  &__confetti {
    position: absolute;
    bottom: -38px;
    left: 93px;
    &:hover {
      animation: shiver 400ms ease-out 4;
      -webkit-animation: shiver 400ms ease-out 4;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: f.prc(530, 1170) f.prc(570, 1170);
    grid-template-rows: minmax(auto, 550px);
    column-gap: f.prc(70, 1170);
    position: relative;
  }
  &__images {
    width: 100%;
    // position: relative;
    & img {
      border-radius: 24px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;

      &[data-pos='back'] {
        opacity: 30%;
        filter: blur(33px);
        -webkit-filter: blur(33px);
      }
      &[data-pos='front'] {
        position: absolute;
        top: 70px;
        left: 70px;
      }
    }
  }
  &__content {
    align-self: center;
  }
  &__title {
    margin-bottom: f.rem(32);
  }
  &__text {
    margin-bottom: f.rem(80);
  }
  &__button {
    display: flex;
    align-items: center;
    padding-top: f.em(20);
    padding-bottom: f.em(20);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    background-color: c.$g-blue;
    color: c.$g-light;
    & svg {
      margin-left: 12px;
    }
  }
}
// ***** about end *****

// ***** singers start *****
.singers {
  margin-bottom: 240px;
  position: relative;
  @keyframes displacement {
    0% {
    }
    50% {
      transform: translateY(5px);
      -webkit-transform: translateY(5px);
      -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
      -o-transform: translateY(5px);
    }
    100% {
    }
  }
  &__pattern {
    position: absolute;
    top: 104px;
    right: 0;
    animation-name: displacement;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  &__confetti {
    position: absolute;
    bottom: -140px;
    left: 140px;
    &:hover {
      animation-name: ruler-animate;
      animation-duration: 500ms;
      animation-iteration-count: 2;
      animation-timing-function: linear;
    }
  }
  &__container {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  &__content {
    width: f.prc(470, 1170);
  }
  &__title {
    margin-bottom: 32px;
  }
  &__text {
    margin-bottom: 80px;
  }
  &__button {
    display: flex;
    align-items: center;
    padding-top: f.em(20);
    padding-bottom: f.em(20);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    background-color: c.$g-blue;
    color: c.$g-light;
    & svg {
      margin-left: 12px;
    }
  }
  &__images {
    width: f.prc(670, 1170);
    // ***** flex *****
    // display: flex;
    // flex-wrap: wrap;
    // gap: 30px;
    // & :nth-of.type(1) {
    //   align-self: flex-end;
    // }
    // & :nth-of.type(2) {
    //   margin-bottom: 21px;
    // }
    // & :nth-of.type(3) {
    //   margin-top: 21px;
    // }
    // ***** flex end *****

    // ***** grid *****
    display: grid;
    grid-template-columns: 320px 320px;
    grid-auto-rows: 321px;
    gap: 30px;
    & :nth-of-type(odd) {
      align-self: end;
    }
    & :nth-of-type(even) {
      justify-self: end;
    }
    // ***** grid end *****
  }
  & img {
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
}
// ***** singers end *****

// ***** sponsors start *****
.sponsors {
  position: relative;
  margin-bottom: 100px;
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
  &__confetti {
    position: absolute;

    &[data-color='add7'] {
      top: -105px;
      right: 117px;
    }
    &[data-color='gen-LR'] {
      top: 150px;
      right: 90px;
    }
    &:hover {
      animation-name: rotate;

      animation-duration: 1200ms;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
  }
  &__pattern {
    position: absolute;
    top: 62px;
    animation-name: displacement;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__container {
    text-align: center;
  }
  &__title {
    margin-bottom: f.rem(60);
  }
  &__logos {
  }
  &__grid-wrapper {
    margin-bottom: f.rem(80);
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    row-gap: f.rem(60);
    justify-items: center;
    align-items: center;
  }
  &__button {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

    // text-align: center;
    background: c.$g-blue;
    color: c.$g-light;
  }
}
// ***** sponsors end *****

// ***** gallery start *****
.gallery {
  padding-top: 160px;
  padding-bottom: 88px;
  position: relative;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(252, 82, 82, 0.1),
    rgba(252, 82, 82, 0)
  );
  // opacity: 30%;
  &__wrapper {
    position: relative;
    z-index: 20;
    // opacity: 100%;
  }
  &__title {
    // margin-top: 160px;
    margin-bottom: 60px;
  }
  &__media {
    // position: relative;
    button {
      position: absolute;
      z-index: 10;
      // top: -20px;
      // left: 20px;
      background: none;
      &[data-direction='left'] {
        top: 175px;
        left: 175px;
      }
      &[data-direction='right'] {
        top: 175px;
        right: 175px;
      }
    }
  }
  .slider__wrapper {
    position: relative;
    margin-right: -25px;
    margin-left: -25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    grid-auto-flow: column;
    column-gap: 30px;
    justify-content: center;
  }
  &__slider {
    position: relative;
  }
  &__instashot {
    &:first-child,
    &:last-child {
      opacity: 30%;
    }
  }
}

.instashot {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  &__image {
    margin-bottom: 24px;
    img {
    }
  }
  &__about {
    display: flex;
    justify-content: space-between;
  }
  &__like {
  }
  &__text {
  }
}
.like-counter {
}
// ***** gallery end *****

// ***** contact start *****
.contact {
  display: flex;
  &__info {
    width: f.prc(845, 1920);
    padding-top: f.prc(120, 1920);
    padding-left: f.prc(80, 1920);
    position: relative;
    background-color: c.$g-blue;
    color: c.$g-light;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    margin-bottom: 80px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    // color: c.$g-light;
    opacity: 70%;
  }
  &__details {
    margin-bottom: 220px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    // color: c.$g-light;
    @media (max-width: 1920px) {
      margin-bottom: f.prc(220, 845);
    }
    & > * {
      margin-bottom: 40px;
    }
  }
  &__phone {
    a {
      color: inherit;
    }
  }
  &__email {
    a {
      color: inherit;
    }
  }
  &__location {
    a {
      color: inherit;
    }
  }
  &__form-wrapper {
    position: relative;
    flex-grow: 1;
    padding-top: f.prc(103, 1920);
    padding-left: f.prc(130, 1920);
    padding-bottom: f.prc(103, 1920);
    background-color: #22222208;
  }
}
.info__svg {
  position: absolute;
  right: 0;
  bottom: 0;
}
.contact__form-svg {
  position: absolute;
  bottom: 0px;
  right: 56px;
}
.form {
  // display: flex;
  // flex-direction: column;
  width: 570px;
  // margin-top: 103px;
  // margin-bottom: 103px;
  &__title {
    margin-bottom: 40px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
  }
  &__body {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    // color: c.$g-dark;
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: c.$g-dark;

    &:has(*:focus) {
      color: c.$g-blue;
    }
    & span {
      opacity: 0.7;
    }
    & input,
    textarea {
      background-color: inherit;
      font-family: Raleway;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      border-bottom: 1px solid c.$add-1;
      color: c.$g-dark;

      &:focus {
        border-color: c.$g-blue;
      }
    }

    & textarea {
      height: 104px;
      background-color: inherit;
      resize: none;
    }
  }
  &__submit {
    width: 100%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;

    background-color: c.$g-blue;
    color: c.$g-light;
  }
}
.active {
}
.button {
}
// ***** contact end *****

// ***** footer *****
.footer {
  background-color: c.$g-dark;
  &__container {
  }
  &__logo {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  &__frame {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    & ul {
      display: flex;
      gap: 30px;
    }
    & a {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;

      text-decoration: none;
      color: c.$g-light;
    }
  }
  &__social {
    display: flex;
    gap: 30px;
  }
  &__copyright {
    font-family: Raleway;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;

    color: c.$g-light;
    opacity: 0.3;
  }
}
// ***** footer end *****
